# ----------------------------------------------------------------------
#  Additional compile options for Linux (g++).
#	LINUX_INCDIRS_xxx is placed before/after ${LINUX_COPT_INCDIR}.
#	LINUX_LDFLAGS_xxx is placed before/after ${LINUX_LDFLAGS}.
#	LINUX_COPT_MACROS_APPEND is placed after ${LINUX_COPT_MACROS}.
#  	See "CMakeOpts.txt.dist" for referred variables.
#
#set(LINUX_INCDIRS_PREPEND	)
#set(LINUX_INCDIRS_APPEND	)
#set(LINUX_COPT_MACROS_APPEND	)
#set(LINUX_LDFLAGS_PREPEND	)
#set(LINUX_LDFLAGS_APPEND	)

# end: CMakeAddOpts.txt
